* {
    box-sizing: border-box;
  }

.formContainer {
  background-color: #bddee4;
  display: flex;
  justify-content: center;
  max-width: 1080px;
  margin: 20px auto;
  border-radius: 5px;
  text-align: left;
}

.formulario {
  width: 900px;
  padding: 10px;
}

.inputTitulo{
  border:1px solid #ffffff;
}

.inputFecha{
  border:1px solid #ffffff;
}

.inputNoticia {
  width: 800px;
  border:1px solid #ffffff;
  margin: 5px 0px 5px 0px;
  box-sizing: content-box;

}

.inputImagen {
  width: 60%;
  margin-bottom: 5px;
  border:1px solid #ffffff;
}